#Projects {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 140px 0;
}

.project-card-wrapper {
    width: 600px;
    /* border: 2px solid rgb(247, 203, 203); */
    padding: 4px;
}

.project-card-wrapper h3 {
    color: rgb(247, 203, 203);
}

.project-card-wrapper div img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-card-content {
    

    
}

.project-card-wrapper div p {
    min-height: 100px;
    color: rgb(247, 203, 203);
}

.project-card-wrapper h1 {
    color: rgb(247, 203, 203);
    
}