.ScrollButton {
  transition: all 1s ease;
  position: fixed;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  border-radius: 999px;
  background-color: none;
  fill: none;
  /* padding: 5px; */
}

.Opacity100 {
  opacity: 100%;
}

.Opacity0 {
    opacity: 0;
}

.ScrollButton_Icon {
    height: 50px;
    width: 50px;
    /* position: absolute; */
    border-radius: 999px;
    
}
